.orders-container {
  background-color: #f5f5f5;
  height: 100vh;
}

.pending {
  background-color: rgb(252, 233, 197);
  border: 1px solid orange;
  color: orange;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
}

.pickup {
  background-color: rgb(177, 252, 201);
  color: green;
  border: 1px solid green;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
}

.accepted {
  background-color: rgb(186, 214, 255);
  color: blue;
  border: 1px solid blue;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
}

.declined {
  background-color: red;
  color: white;
  padding: 0.25rem 1rem;
}